*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #ffffff;
    --grey: #d9d9d9;
    --black: #000000;
    --red: #fa4238;
    --purple: #691cad;
    --brown: #3c252b;

    --title: 'Open Sans';
    --paragraphe: 'Lato';
}

body{
    background-color: var(--white);
}
    #link {
    display: block;
  }

    #link #burger {
    width: 30px;
    height: 2px;
    background: var(--black);
    display: inline-block;
    top: -5px;
    position: relative;
    text-align: left;
  }

    #link #burger::before,
    #link #burger::after {
    content: '';
    width: 30px;
    height: 2px;
    background: var(--black);
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }

    #link #burger::before {
    top: -7px;
  }

    #link #burger::after {
    top: 7px;
  }

    #link #burger.open {
    background: transparent;
  }

    #link #burger.open::before {
    transform: rotate(45deg);
    top: 0;
  }

    #link #burger.open::after {
    transform: rotate(-45deg);
    top: 0;
  }